/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* STYLES */
@import url('./generics.css');
@import url('./home.css');
@import url('./navBar.css');


/* COLORS */
:root {
  --greyBlue: #566981;
  --grey: #555555;
  --greenBlue: #ADD2E2;
}