/* NAVBAR */

nav{
  position: fixed;
  background-color: white;
}

.userButton{
 
  /* padding: 10px 35px 10px 35px; */
  border: 1px solid grey;
  border-radius: 200px;
  font-size: 23px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaryNavButton{
  background-color: var(--greyBlue);
  width: 120px;
  height: 35px;
  margin: 0px 10px 0px 10px;
  /* padding: 10px 35px 10px 35px; */
  border: none;
  border-radius: 20px;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaryNavButton *{
  color: white !important;
}

.secondaryNavButton{
  background-color: var(--greenBlue);
  color: black;
  width: 90px;
  height: 25px;
  margin: 6px 10px 0px 10px;
  /* padding: 10px 35px 10px 35px; */
  border: none;
  border-radius: 20px;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}



#navbarNav {
  margin-right: 10%;
}

#buttonsNav{
  position: fixed;
  margin-top: 7px;
  top: 0;
  right: 0;
  left: 50;
  padding-right: 20px;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7em;
  height: 48px;


}

#navbarButtons{
  margin-top: 0px;
}


#languajeSelect{
  padding-top: 6px;
}

#inputSearchNavbar{
  width: 100%;
}

@media(max-width:992px){
  .primaryNavButton, .secondaryNavButton, .primaryNavButton *{
    background-color: white;
    margin: 0px;
    border-radius: 0px;
    color:  var(--grey) !important;
    width: auto;
  }
 
  #buttonsNav{
    position: fixed;
    padding-top: -10px;
    top: 0;
    right: 0;
    left: 50;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    width: 9em;
    padding-right: 0px;
  }

  #navbarNav {
    margin-right: 0px;
  }
  
  #navbarNav *{
    margin-top: 10px;
  }

  #inputSearchNavbar{
    padding-left: 5em;
    padding-right: 5em;
  }

  #languajeSelect{
    padding-top: 0px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

}

.divSearch {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}





















